<div id="message">
  {{ message }}
</div>
<div id="info">
  <table>
      <tr>
          <th>requested resource:</th>
          <td>{{ fullUrl }}</td>
      </tr>
      <tr>
          <th>request ip:</th>
          <td>{{ requestIp }}</td>
      </tr>
      <tr>
          <th>request id:</th>
          <td>{{ requestId }}</td>
      </tr>
      <tr>
          <th>timestamp:</th>
          <td>{{ requestTimestamp }}</td>
      </tr>
  </table>
</div>
<div id="footer">
  {{ container }}
</div>
